---

---

<div class="header-wrapper">
  <section class="hero-wrapper">
    <div class="container">
      <div class="hero">
        <div class="image">
          <img class="hero-img" src="/hero-image.jpg" alt="Company logo" />
          <div class="overlay"></div>
        </div>
        <div class="content">
          <div class="header">
            <h1 class="tagline">bimble</h1>
            <h2 class="pronounce">/ˈbɪmbl/</h2>
          </div>
          <div class="definition">
            <div class="pill"><div>INFORMAL•BRITISH</div></div>
            <span class="identifier"><i>verb</i></span>
            <span class="define">walk or travel at a leisurely pace.</span>
            <span class="example"
              >"on Sunday we bimbled around Spitalfields and Brick Lane"</span
            >
            <span class="identifier"><i>noun</i></span>
            <span class="define"> leisurely walk or journey.</span>
            <span class="example"
              >"we were enjoying a pleasant bimble over the rocks"</span
            >
          </div>
        </div>
      </div>
      <div class="content cta">
        <h1 class="heading">Backstory</h1>
        <p class="story">
          A friend of mine, who we'll call Bailey Stool (not their real name),
          used the word "bimble" in a social media post. Despite having existed
          for the last 38 years, I haven't heard it before. I had to look up the
          definition and now plan to use it casually in conversation at some
          point as if I've known it all along. It's a word that I must now
          remember and deploy at precisely the right moment. Just in case anyone
          else feels the same way, I've provided this helpful guide to its use.
        </p>
      </div>
    </div>
  </section>
</div>

<style>
  .header-wrapper {
    background-color: #e2dbbe;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--page-padding) 0;
  }
  .hero-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 var(--page-padding);
    padding-top: 1rem;
  }
  .container {
    width: min(100%, var(--container-max));
    margin-left: auto;
    margin-right: auto;
  }
  .hero {
    --min: 40ch;
    --gap: 1rem;

    display: grid;
    grid-gap: var(--gap);
    /* min() with 100% prevents overflow
  in extra narrow spaces */
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
  }
  .image {
    width: 100%;
    position: relative;
  }
  .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
  }
  .content {
    width: 100%;
    height: 100%;
    min-height: 30rem;
    position: relative;
    background-color: var(--russet);
    color: var(--font-color-light);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 1rem;
    padding: 3rem;
  }
  .heading {
    font-size: var(--step-2);
    font-weight: 700;
  }
  .cta {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    background-color: #29371c;
  }
  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
  }
  .tagline {
    font-weight: 700;
    font-size: var(--step-5);
  }

  .definition {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .pronounce {
    font-weight: 700;
    font-size: 2rem;
  }
  .pill {
    background-color: var(--font-color-light);
    color: var(--russet);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: 700;
    font-size: var(--step-1);
    display: flex;
    width: fit-content;
  }
  .identifier {
    font-weight: 700;
  }
  span i {
    font-style: italic;
  }
  .example {
    margin-left: 1rem;
  }
  .define {
    font-weight: 700;
    margin-left: 1rem;
  }
  .story {
    font-size: var(--step-0);
    line-height: 1.5;
  }
</style>
